@use "@porsche-design-system/components-react/styles" as *;

.items a {
  outline: none;
}

.ringLabels {
  text-transform: uppercase;
}

.blip {
  transition: opacity 300ms ease;
}

.dimmed {
  opacity: 0.12;
}

.highlighted {
  opacity: 1;
}

.segmentLabel {
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 200ms ease;

  &:hover {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .ringLabels {
    display: none;
  }

  .segmentLabel {
    visibility: hidden;
  }
}
