@use "@porsche-design-system/components-react/scss" as *;

.items a {
  outline: none;
}

.ringLabels {
  text-transform: uppercase;
}

.ringLabel {
  opacity: 0.4;
  transition: opacity 300ms ease;
}

.ringLabelActive {
  opacity: 1;
}

.ringHighlight {
  transition: opacity 300ms ease;
}

.blip {
  transition: opacity 300ms ease;
}

.dimmed {
  opacity: 0.12;
}

.highlighted {
  opacity: 1;
}
