.product {
  display: inline-flex;
}

.productLink {
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}
