@use "@porsche-design-system/components-react/styles" as *;

.quadrants {
  --cols: 1;
  --gap: #{$pds-spacing-fluid-x-large};
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.quadrant {
  margin-bottom: $pds-spacing-fluid-medium;
  flex: 1 0
    calc(100% / var(--cols) - var(--gap) / var(--cols) * (var(--cols) - 1));
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $pds-spacing-static-small 0;
  margin-bottom: $pds-spacing-fluid-medium;
  border-bottom: 1px solid var(--border);
  text-decoration: none;
  color: var(--foreground);
  transition: border-color 200ms ease;

  &:hover {
    border-bottom-color: var(--foreground);

    .arrow {
      opacity: 1;
      transform: translateX(2px);
    }
  }
}

.title {
  margin: 0;
}

.arrow {
  @include pds-text-small;
  opacity: 0.4;
  transition:
    opacity 200ms ease,
    transform 200ms ease;
}

@media (min-width: 1220px) {
  .quadrants {
    --cols: 2;
  }
}
