@use "@porsche-design-system/components-react/styles" as *;

.teams {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: $pds-spacing-static-x-small;
}

.team {
  display: inline-block;
}

.teamRemoved {
  opacity: 0.6;
  text-decoration: line-through;
}

.teamLink {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  opacity: 0.7;
  transition: opacity 150ms ease-in-out;

  &:hover,
  &:focus-visible {
    opacity: 1;
  }
}
