@use "@porsche-design-system/components-react/styles" as *;

.content {
  margin-bottom: $pds-spacing-fluid-xx-large;
}

.quadrantNav {
  padding-bottom: $pds-spacing-fluid-medium;
  border-bottom: 1px solid var(--border);
}

@media (min-width: 1024px) {
  .layout {
    display: flex;
  }
  .sidebar {
    width: 360px;
    padding: 110px 0 0 $pds-spacing-fluid-x-large;
  }
  .content {
    flex: 1;
  }
}
